.content {
    height: 1px;
    width: 1px;
    background-color: white;
    padding: 1em;
    border-style: solid;
    border-color: black;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 650px;
    margin-top: 100px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}